<div ng-include="'views/header.html'"></div>

<h2>Summer 2014 Final Results</h2>

<h3>Winner</h3>
Thuin Khan<br />

<h3>Runner up</h3>
Billy Pittard<br />

<h3>Average Joe</h3>
Ben Chaplin<br /><br />

<h3>Wooden Spoon</h3>
Martin Smith<br /><br />

<h4>Playoffs</h4>

<b>Game 4 – THE FINAL</b><br />
Thuin <b>3</b> vs Billy <b>1</b>
<br /><br />

<b>Game 3 – The Cleggor</b><br />
JSON <b>2</b> vs Martin <b>1</b>
<br /><br />

<b>Game 2 – Semi 2</b><br />
Grimmers <b>0</b> vs Billy <b>1</b>
<br /><br />

<b>Game 1 – Semi 1</b><br />
Thuin <b>2</b> vs Ricky <b>0</b>
<br /><br />

<table>
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th>Played</th>
        <th>Wins</th>
        <th>Draws</th>
        <th>Losses</th>
        <th title="Goals Scored">+</th>
        <th title="Goals Conceded">-</th>
        <th title="Goal Difference">+/-</th>
        <th>Points</th>
    </tr>
    <tr ng-repeat="player in standings | orderBy: ['-points', '-goalDiff', '-goals', 'team']">
        <td>{{ $index + 1 }}</td>
        <td>
            <a href="/#/player/{{player.id}}">
                <img ng-src="{{ player.imgUrlSmall }}" title="{{ player.name }}" width="32" height="32" />
            </a>
        </td>
        <td><a href="/#/player/{{player.id}}">{{ player.team }}</a></td>
        <td>{{ player.played }}</td>
        <td>{{ player.wins }}</td>
        <td>{{ player.draws }}</td>
        <td>{{ player.losses }}</td>
        <td>{{ player.goals }}</td>
        <td>{{ player.conceded }}</td>
        <td>{{ player.goalDiff }}</td>
        <td>{{ player.points }}</td>
    </tr>
</table>

<br /><br />

<div class="footer">
</div>

