<div ng-include="'views/header.html'"></div>
<div>
    <h1>League Rules</h1>

    <h3>Game Sessions</h3>

    <p>Game sessions are Monday nights between 21:00 and 22:00 unless both players agree to change time and date.
        If a player is a no show to the arranged time and date then a 3-0 victory is awarded to the opposing team.</p>

    <h3>League Structure</h3>

    <p>The first stage is a round robin. Then the top 4 go into the Championship play-off and bottom 2 go into the
        Cleggor play-off.</p>
    <b>Champlin Trophy</b><br/>
    Semi 1: 1st vs 4th<br/>
    Semi 2: 2nd vs 3rd<br/><br/>

    <b>Final:</b> Semi 1 winner vs Semi 2 winner<br/><br/>

    <b>Cleggor Spoon</b><br />
    6th vs 7th<br/><br/>

    Finals are played one lunch time in the Leather Room.
    <br/>

    <h3>Fifa League Banter Rules</h3>
    If you get beaten by 5 goals or more you need to post a Facebook apology.<br />
    If you get beaten by 10 goals or more you need to send a Moonpig apology.<br /><br />
</div>

<div class="footer">
</div>